{% load static %}
<!DOCTYPE html>
<html lang="">
<h1><link rel="stylesheet" href="{% static "css/foundation.css" %}"></h1>
<body>
   <div class="top-bar" style="color:#FFFFFF; background-color:#000000">
     <div class="top-bar-left" style="color:#FFFFFF; background-color:#000000">
       <ul class="dropdown menu" data-dropdown-menu style="color:#FFFFFF; background-color:#000000">
         <li class="menu-text" style="color:#FFFFFF; background-color:#000000">Time Tracker Calendar</li>
         <li><a href="/" style="color:#FFFFFF; background-color:#000000">Home</a></li>
         <li><a href="/calendar/x/" style="color:#FFFFFF; background-color:#000000">Calendar Home Page</a></li>
         <li><a href="/timesheet" style="color:#FFFFFF; background-color:#000000">Timesheet</a></li>
       </ul>
     </div>
   </div>
</body>
<h1>Add Event to Your Calendar</h1> 
  <body>
  <div id="content">
    <p>Fill these fields to enter a new event in your Google Calendar.</p>
    <p><label>Select a date: <input type="date" id="date"></label></p>
    <p><label>Start time <input type="time" id="start"></label>
       <label>End time: <input type="time" id="end"></label>
    </p>
    <p><label>Event description: <input type="text" id="event" size=60></label></p>
    <p><button id="authorize-button" class="button" style="visibility: hidden">Login & Authorize</button></p>
    <p><button id="addToCalendar" class="button" style="visibility: hidden">Add to Google Calendar</button></p>
  </div>
    <!--Add a button for the user to click to initiate auth sequence -->
    <script src="{% static "js/vendor/addToCalendar.js" %}"></script>
    <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
  </body>
</html>
