{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TimeTracker{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'media/favicon.ico' %}" type="image/png">
  </head>
  <!-- <body style="background-image: url('{% static "media/fullgradient.png" %}')";> -->
  <body>
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Time Tracker</li>
            <li><a href="/">Home</a></li>
            <li><button id="authorize_button" class ="button" style="display: none;color:#FFFFFF;">Authorize Calendar</button></li>
            <li><button id="signout_button" class="button" style="display: none;">Sign Out</button></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            {% if user.is_authenticated %}
            <li><a href="/profile/">Profile</a></li>
            <li><a href="/logout/">Log Out</a></li>
            {% else %}
            <li><a href="/login/">Log In or Register</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% block body %}

      {% endblock %}
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/vendor/what-input.js" %}"></script>
    <script src="{% static "js/vendor/foundation.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
