{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TimeTracker{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
  </head>
  <body>
    <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
      <ul class="vertical tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">Home</a></li>
        <li class="tabs-title"><a href="/calendar/x">Calendar</a></li>
        <li class="tabs-title"><a href="#panel3v">Timesheet</a></li>
        <li class="tabs-title"><a href="#panel3v">Analytics</a></li>
      </ul>
    </div>
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li><button type="button" class="button" data-toggle="offCanvas">Menu</button></li>
            <li class="menu-text">Time Tracker</li>
            <li><a href="/">Home</a></li>
            <li><a href="/calendar/x">Calendar</a></li>
            <li><a href="/timesheet">Timesheet</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            {% if user.is_authenticated %}
            <li><a href="/profile/">Your Profile</a></li>
            <li><a href="/logout/" class="button expanded">Log Out</a></li>
            {% else %}
            <li><a href="/login/" class="button expanded">Log In or Register</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% block body %}

      {% endblock %}
    </div>
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/vendor/what-input.js" %}"></script>
    <script src="{% static "js/vendor/foundation.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
