{% extends "base.html" %}
{% load static %}
{% block body %}
<body>
  <div class="grid-container">

    {% if user.is_authenticated %}

    <!-- Banner -->
    <div class="grid-y grid-padding-y">
      <div class="cell small-12 medium-12 large-12 offset-2">
        <h1>Welcome to Time Tracker</h1>
      </div>
    </div>

    <!-- Info cards -->
    <div class="grid-x grid-padding-x">

      <!-- Clock in and out -->
      <div class="cell large-4 small-12">
        <div class="card">
          <div class="card-divider">
            <h4>Clock in & out</h4>
          </div>
          <div class="card-section" style="background: #3B9DD1;">
            <h4 class="text-center" style="color: white;"><strong>{{ now }}</strong></h4>
          </div>
          <div class="card-section">
            <button type="button" class="button expanded">Clock in</button>
          </div>
          <!-- <img src="{% static "media/timesheet.png" %}"> -->
        </div>
      </div>

      <!-- Current working time -->
      <div class="cell large-8 small-12">
        <div class="card">
          <div class="card-divider">
            <h4>Your time today</h4>
          </div>
          <div class="card-section">
            <h2><strong>3</strong> hours <strong>21</strong> minutes worked today</h2>
          </div>

          <div class="card-section">
            <h3>You've worked <strong>18</strong> hours this pay period</h3>
          </div>
        </div>
      </div>

      <!-- Calendar Events -->
      <div class="cell large-4 small-12">
        <div class="card">
          <div class="card-divider">
            <h4>Clock in & out</h4>
          </div>
          <div class="card-section">

          </div>
        </div>
      </div>

    </div>
  </div>

  {% else %}
  <div class="grid-y grid-padding-y">
    <div class="cell small-12 medium-12 large-12 offset-2">
      <h1>Welcome to Time Tracker, login to get started</h1>
    </div>
  </div>
  {% endif %}
  </div>
</body>
{% endblock %}
