{% extends "base.html" %}
{% load static %}
{% block body %}
  <body>
    <div class="grid-container">
      <div class="grid-y grid-padding-y">
        <div class="cell small-12 medium-12 large-12 offset-2">
          <h1>Welcome to Time Tracker</h1>
        <div>
      </div>
      <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">
        <div class="cell">
          <div class="card">
            <div class="card-divider">
              <h4>Timesheet</h4>
            </div>
            <img src="{% static "media/timesheet.png" %}">
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <div class="card-divider">
              <h4>Calendar</h4>
            </div>
            <img src="{% static "media/calendar.png" %}">
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <div class="card-divider">
              <h4>Profile</h4>
            </div>
            <img src="{% static "media/profile.png" %}">
          </div>
        </div>
      </div>

    </div>
  </body>
{% endblock %}
