{% extends "base.html" %}
{% load static %}
{% block body %}
  <body>
    <div class="grid-container">

      {% if user.is_authenticated %}
      <div class="grid-y grid-padding-y">
        <div class="cell small-12 medium-12 large-12 offset-2">
          <h1>Welcome to Time Tracker</h1>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="cell large-4 small-12">
          <div class="card">
            <div class="card-divider">
              <h4>Clock in & out</h4>
            </div>
            <div style="background: #3B9DD1;">
              <h4 class="text-center" style="color: white;">{{ now }}</h4>
            </div>
            <div class="card-section">
              <button type="button" class="success button expanded">Clock in</button>
            </div>
            <!-- <img src="{% static "media/timesheet.png" %}"> -->
          </div>
        </div>
        <div class="cell large-8 small-12">
          <div class="card">
            <div class="card-divider">
              <h5>Your time today</h5>
            </div>
            <!-- <img src="{% static "media/timesheet.png" %}"> -->
          </div>
        </div>
        <!-- <div class="cell">
          <div class="card">
            <div class="card-divider">
              <h4>Calendar</h4>
            </div>
            <img src="{% static "media/calendar.png" %}">
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <div class="card-divider">
              <h4>Profile</h4>
            </div>
            <img src="{% static "media/profile.png" %}">
          </div>
        </div> -->
      </div>
      {% else %}
      <div class="grid-y grid-padding-y">
        <div class="cell small-12 medium-12 large-12 offset-2">
          <h1>Welcome to Time Tracker, login to get started</h1>
        </div>
      </div>
      {% endif %}
    </div>
  </body>
{% endblock %}
