{% extends "base.html" %}
{% load static %}
{% block body %}
<body>
  <div class="grid-container">
    <!-- Banner -->
    <div class="grid-y grid-padding-y">
      <div class="cell small-12 medium-12 large-12 offset-2">
        <h1>Your Profile</h1>
      </div>
    </div>

    <!-- Profile info -->
    <div class="grid-x grid-padding-x">
      <div class="cell large-4 medium-8 small-12">
        <div class="card">
          <div class="card-divider">
            <h4>Profile</h4>
          </div>
          <div class="card-section">
            <h4>Personal info</h4>
          </div>
          <div class="card-section">
          </div>
        </div>

  </div>
</body>
{% endblock %}
