{% extends "base.html" %}
{% load static %}
{% block body %}
<body>
  <div class="grid-container">
    <!-- Banner -->
    <div class="grid-y grid-padding-y">
      <div class="cell small-12 medium-12 large-12 offset-2">
        <h1></h1>
      </div>
    </div>

    <!-- Profile info -->
    <div class="grid-x grid-padding-x">
      <div class="cell large-6 medium-8 large-offset-3 medium-offeset-2 small-12">
        <div class="card">
          <div class="card-divider">
            <h4>Profile</h4>
          </div>
          <div class="card-section">
            <h5>Name</h5>
            <p>name?</p>
          </div>
          <div class="card-section">
            <h5>Sheet ID</h5>
            <p>{{ user.profile.sheet_id }}</p>
          </div>
          <div class="card-section">
            <h5>Email</h5>
            <p> {{ user.email }} </p>
          </div>
        </div>

  </div>
</body>
{% endblock %}
